<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'exchange','Записи, доступные для обмена')}"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<body>
<div class="row" style="margin-top: 50px">


    <div class="container">
        <div class="row justify-content-center">
            <div clas="col-md-1">
            </div>
            <div>
                <p>Есть <span th:text="${numberOfEligibleAppointments}">3</span> записи, которые вы можете обменять. Пожалуйста, выберите одну.</p>
            </div>
        </div>

        <div class="row">
            <table id="appointments" class="table" width="500px">

                <tr th:each="appointment : ${eligibleAppointments}">
                    <td><span th:text="${#temporals.format(appointment.start, 'dd-MM-yyyy HH:mm')}">10-01-2019 12:40</span></td>
                    <td><a th:href="@{'/exchange/' +${appointmentId} + '/'+ ${appointment.id}}">Выбрать</a> </td>
                </tr>

            </table>
        </div>
    </div>
</body>
</html>